body{
    font-family: Arial, Helvetica, sans-serif;
    
}

.user_input{
    background-color: white;
    color:black;
    border: 1px solid black;
    width: 75%;
    height: 200px;
    font-size: 25px;
}
#user_add{
    margin-bottom: 10px;
}
button{
    border:1px solid black;
    font-size: 25px;
}