@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffc194;
	margin-left: 1%;
}

.h1 {
	font-size: 35px;
}
.h2 {
	font-size: 28px;
}
.user_input {
	text-align: center;
	background-color: white;
	color: black;
	border: 1px solid black;
	width: 75%;
	height: 165px;
	font-size: 25px;
	outline-width: 0;
	margin-bottom: 10px;
	border-radius: 3px;
	background-color: #e5f2ff;
}
#user_add {
	display: none;
}

.button {
	border: 1px solid black;
	font-size: 25px;
	background-color: #5499c7;
	border-radius: 2px;
}
#submit {
	margin-top: 10px;
	margin-bottom: 5px;
	transition-duration: 200ms;
}

#submit:hover {
	background-color: gold;
}
.button:focus {
}
#heading {
	text-align: center;
}

#text_boxes {
	text-align: center;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 0 15px;
	background-color: #dc7633;
	display: none;
	overflow: hidden;
	float: inherit;
}

nav {
	border: 0.5px solid black;
}
