@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	background-color: #00affe;

	margin-left: 3%;
	margin-right: 3%;

	font-weight: 300;

	height: 100%;
}

h1 {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
}
#logo {
	height: 35px;
}
a {
	color: black;
}
